torch==2.5.0+cu121
torchvision==0.20.0
torchaudio==2.5.0
transformers==4.27.0
streamlit==1.40.2
sacremoses==0.1.1
sentencepiece==0.2.0
spacy==3.8.2
nltk==3.9.1
googletrans==3.0.0
konlpy==0.6.0
